{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $sudoPassword := promptStringOnce . "sudoPassword" "관리자 비밀번호 (Cask 앱 설치용)" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    sudoPassword = {{ $sudoPassword | quote }}

[edit]
    command = "code"
    args = ["--wait"]
