[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

[core]
    editor = nano
    autocrlf = input

[init]
    defaultBranch = main

[push]
    default = simple

[pull]
    rebase = false

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    cm = commit -m
    ca = commit -am
    l = log --oneline
    d = diff
    a = add
    aa = add --all

[color]
    ui = auto

[credential]
    helper = osxkeychain
