[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

[core]
    editor = vim
    autocrlf = input
    safecrlf = true
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[push]
    default = simple
    autoSetupRemote = true

[pull]
    rebase = false

[merge]
    tool = vscode
    conflictstyle = diff3

[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[alias]
    st = status
    s = status --short
    l = log --oneline
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    br = branch
    co = checkout
    cb = checkout -b
    ci = commit
    cm = commit -m
    ca = commit -am
    amend = commit --amend
    a = add
    aa = add --all
    unstage = reset HEAD --
    f = fetch
    p = push
    pl = pull
    d = diff
    dc = diff --cached
    r = reset
    rh = reset --hard
    last = log -1 HEAD
    visual = !gitk
    type = cat-file -t
    dump = cat-file -p
    cleanup = "!git branch --merged | grep -v '\\*\\|main\\|master\\|develop' | xargs -n 1 git branch -d"

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
